    body {
        background: rgba(255,244,237,1);
        border-radius: 10px;
        padding: 0% 5%;
    }
    a {
        text-decoration: none;
    }
    .epabg {
        background: #f29001;
        margin:3% 0% 1% 0%;
        padding:3% 3% 5% 3%;
        overflow:hidden;
    }
    .epain {
        background: #FFFFE0;
        border-radius: 10px;
        padding: 2%;
        margin: 2%;
        float:left;
        width:calc(94%/2);
    }
    .epainbor {
        background: #FFFFE0;
        border-radius: 10px;
        padding: 2%;
        margin: 2%;
        width: -webkit-fill-available;
    }
    .epati {
        margin-top:1%;
        color:green;
        font-size:14pt;
        font-weight:bold;
    }
    .epapin {
        margin-left:1%;
    }
    .movif {
        display: block;
        float: left;
        width: 100%;
    }
    table {
        width:100%;
    } 
    .bdline {
        /*border-top: 2px solid #FFEEE4;*/
        margin:1% 1% -1% 1%;
    }
    .epalinkAF {
        float:left;
        width:40%;
    }
    .epalink {
        border-radius: 10px;
        background: #F29001;
        padding:2%;
        margin:5%;
        text-align:center;
    }
    a .epalink {
        color: white;
        font-weight:bold;
        text-decoration:none;
    }
#parent{ 
    display: -ms-flexbox; 
    display: -webkit-flex; 
    display: flex; 
}
.sameHeight{ 
    -webkit-flex: 1; 
    -ms-flex: 1; 
    flex: 1; 
}
@media only screen and (max-width: 800px) {
    .epain {
        width:auto;}
  #parent{ 
    display: -ms-flexbox; 
    display: -webkit-block; 
    display: block;}
  .sameHeight{ 
    -webkit-flex: 1; 
    -ms-flex: 1; 
    flex: 1; }
}
